@import './styles/tokens.scss';
@import './styles/theme-light.scss';
@import './styles/theme-dark.scss';

.custom-input {
  border: 10px solid pink;
}

.custom-input .input {
  --ds-input-border-color: orangered;
  --ds-input-border-width: 10px;
}
